/* ==========================================================================
   0.1. Fonts downloaded from Google Fonts
   ========================================================================== */
   //Lato
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Italic.ttf');
  font-weight: regular;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf');
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.ttf');
  font-weight: bold;
  font-style: bolditalic;
}

   //Noto-Serif
@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/NotoSerif-Regular.ttf');
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/NotoSerif-Italic.ttf');
  font-weight: regular;
  font-style: italic;
}
@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/NotoSerif-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/NotoSerif-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}